.category {
  max-width: 215px;
  height: 178px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: var(--color-text-title);

  .category__box {
    background-color: var(--color-bg-transparent);
    border-radius: 8px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img:hover {
      scale: 1.2;
    }
  }
  .category__box:hover {
    background-color: var(--color-primary-shadow);
    border-radius: 8px;
  }
}
