.categoryPage {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  h3 {
    color: var(--color-primary);
    font-size: 3rem;
  }
  .categorySection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.courseItem {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: 1px solid #6868688c;
  padding: 1rem;
  max-width: 90vw;
  height: 10rem;
  border-radius: 7px;
  position: relative;
}

.courseItem:hover {
  background-color: #6668ed0a;
  border: 2px solid #6668ed5f;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.courseItem__info {
  font-size: 10px;
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
}

.alignment {
  align-items: center;
  display: flex;
  gap: 3px;
}

.courseItem__info-line {
  margin: 0.4rem;
}

.courseItem__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 0.6rem;
  background: linear-gradient(
    58.08deg,
    var(--color-primary-light) -11.48%,
    var(--color-bg-alt) 53.54%,
    var(--color-bg-alt) 57.19%,
    var(--color-primary) 114.92%
  );
  color: var(--color-text-title);
  font-size: 12px;
  font-weight: 900;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}
