.courses {
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  justify-content: center;
}

.course-card {
  background: var(--color-bg);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px var(--color-primary-shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.course-card__img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.course-card__content {
  padding: 15px;
  position: relative;
}

.course-card__category {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #0077ff;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.course-card__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-title);
  line-height: 1.4;
}

.course-card__info {
  font-size: 10px;
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
}

.alignment {
  align-items: center;
  display: flex;
  gap: 3px;
}

.course-card__info-line {
  margin: 0.4rem;
}

.no-course {
  text-align: center;
  color: #777;
  font-size: 18px;
  padding: 30px 0;
}

.course-card__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 0.6rem;
  background: linear-gradient(
    58.08deg,
    var(--color-primary-light) -11.48%,
    var(--color-bg-alt) 53.54%,
    var(--color-bg-alt) 57.19%,
    var(--color-primary) 114.92%
  );
  color: var(--color-text-title);
  font-size: 12px;
  font-weight: 900;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}

.course-card__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.course-card__btn svg {
  transition: transform 0.3s ease;
}

.course-card__btn:hover svg {
  transform: rotate(20deg);
}
