.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content_categories {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    gap: 2rem;
    color: var(--color-text-title);
    p {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .content_categories-item {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
  }
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
  flex-wrap: wrap;
  .head__title {
    h1 {
      color: var(--color-text);
      font-size: 7vh;
      line-height: 9vh;
      align-items: center;
      width: min-content;
      font-weight: 400;
    }
  }

  .head__banner {
    img {
      height: 55vh;
      z-index: 1;
    }
  }
}

.foot {
  background-color: var(--color-bg-transparent);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  margin: 6rem 1rem;
  border-radius: 17px;
  .foot__title {
    p {
      color: var(--color-text);
      font-weight: 500;
      margin-left: 50px;
      font-size: large;
    }
  }
  .foot__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    z-index: 2;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .foot__cards-more {
    padding: 2rem;
    max-width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-bg-transparent);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 0 4px 30px var(--color-primary-shadow);
  }
}

.foot__cards-more:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
  transition: 0.3s;
}

@media (max-width: 463px) {
  .head {
    padding: 4rem 1rem 1rem 1rem;

    .head__banner {
      img {
        height: 30vh;
      }
    }
  }
  .foot {
    .foot__cards {
      padding: 0.5rem;
    }
  }
}

@media (max-width: 274px) {
  .head {
    padding: 8rem 1rem 1rem 1rem;
  }

  .foot {
    padding: 4rem 0.5rem;

    .foot__title {
      p {
        font-size: small;
        margin-left: 8px;
      }
    }

    .foot__cards-more {
      max-width: 50px;
      font-size: small;
      padding: 0.5rem;
    }
  }
}
