.navbar {
  position: fixed;
  width: 100%;
  min-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000 !important;
  background-color: var(--color-bg-transparent);
  box-shadow: 0 4px 30px var(--color-primary-shadow);
  backdrop-filter: blur(8.3px);
}

.navbar__left {
  display: flex;
  gap: 7rem;
  align-items: center;
  width: 50%;
}

.navbar__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  gap: 7rem;
}

.logo {
  color: var(--color-primary) !important;
}

.navbar__items {
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
}

.navbar__logo {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar__item {
  color: var(--color-text);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.navbar__item:hover {
  color: var(--color-primary);
}

@media (max-width: 850px) {
  .navbar {
    gap: 0.5rem;
  }
  .navbar__items {
    gap: 0.5rem;
  }
  .navbar__item {
    font-size: 14px;
  }
}

@media (max-width: 274px) {
  .navbar {
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
  }
}
